body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h2 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

form {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"], input[type="date"], input[type="time"], textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

textarea {
    height: 100px;
    resize: vertical;
}

/* Estilo para el botón de actualización */
.la_button {
    border-radius: 5px;
    text-transform: uppercase;
    width: 100%; /* Hace que el botón tenga el ancho del contenedor */
    padding: 10px;
    background-color: #006064;
    border: 2px solid #fff;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
}

.la_button:hover {
    background-color: white;
    color: #006064;
    border: 2px solid #006064;
    transition-duration: 0.5s;
}
