body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    width: 80%;
    background-color: red;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-container {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}

.form-container label {
    font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container input[type="file"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-container input[type="submit"] {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.form-container input[type="submit"]:hover {
    background-color: #218838;
}

.preview-container {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
}

.product-card {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative; /* Required for positioning the discount tag */
}

.discount-tag {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #28a745;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    display: none; /* Initially hidden */
}

.product-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    object-fit: cover;
    height: 300px;
}

.product-card h3 {
    margin: 10px 0;
}

.product-card p {
    margin: 5px 0;
}

.product-card .buy-section {
    margin-top: 10px;
}

.product-card .buy-section input[type="number"] {
    width: 50px;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product-card .buy-section button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-card .buy-section button:hover {
    background-color: #0056b3;
}

.la_button {
    border-radius: 5px;
    text-transform: uppercase;
    width: 100%;
    padding: 10px;
    background-color:#006064;
    border: 2px solid #fff;
    color:  white;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
}

.la_button:hover {
    background-color: white;
    color: #006064;
    border: 2px solid #006064;
    transition-duration: 0.5s;
}

